@page "/"

<PageTitle>Homepage</PageTitle>

<div class="container">
    <img src="imgs/babbies.png" class="hero-img" />
    <div class="call-to-action">
        <h1>Need a Doula?</h1>
        <button class="contact-btn" href="/Contact">Contact Me</button>
    </div>
    
</div>


